{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="wrapper">
        <h1>Student Create</h1>
        <div class="wrap">
            <form action="{% url 'create' %}" method="post" enctype="multipart/form-data" class="my_unique_form">
                {% csrf_token %}
                <span><input name="name" type="text" placeholder="Name"  class="input_unique" required></span><hr width="100%">
                <span><input name="surname" type="text" placeholder="Surname"  class="input_unique" required></span><hr width="100%">
                <span><input name="age" type="number" placeholder="Age"  class="input_unique" required></span><hr width="100%">
                <span><input name="address" type="text" placeholder="Address"  class="input_unique" required></span><hr width="100%">
                <span><input name="studyed" type="text" placeholder="Studyed"  class="input_unique" required></span><hr width="100%">
                <span><input name="job" type="text" placeholder="Job"  class="input_unique" required></span><hr width="100%">
                <div class="my_btns">
                    <button class="my_uniquebtn">Save</button>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}