{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <h1 style="padding: 2%;">Edit Students</h1>
    <div class="wrap">
        <div class="container-fluid">
            <form action="{% url 'infoedit' info.id %}" method="post" enctype="multipart/form-data" class="my_unique_form">
                <div class="row">
                {% csrf_token %}
                <div class="col-2">
                    <h5>Image</h5>
                    <p>Currently:<a href="{{info.img.url}}">{{info.img.url}}</a></p>
                    <input  name="img" type="file" placeholder="img"  class="input_unique">
                </div>
                </div>
                <div class="row"><br></div>
                <div class="row">
                <div class="col-2">
                    <h5>Logo</h5>
                    <p class="input_unique">Currently:<a href="{{info.logo.url}}">{{info.logo.url}}</a></p>
                    <input name="logo" type="file" placeholder="logo"  class="input_unique">
                </div>
            </div>
                <div class="row">                
                <div class="col-2" style="padding: 2%;">
                    <button style="margin-top: 15px; width: 100%; padding: 2%; border-radius: 1%; font-weight: 700; border: none; background-color: #272c33; color: #fff; class="my_uniquebtn">Save</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}